*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-image: url("Overlord-3-III.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: #fff;
}
header a{
    color: #fff;
    text-decoration: none;
}
.logo-menu{
    background: linear-gradient(#01b7ff,black)
}
.logo-menu h2{
    font-weight: 300;
    font-size: 30px;
    margin-top: 10px;
}
.logo-menu .menu a{
   display:inline-block;
   padding: 15px 20px;
}
.logo-menu .menu a:hover{
   border-bottom: 4px solid #ff9f1c;
   padding-bottom: 20px;
}
li{
    display: inline-block;
    text-decoration: none;
    align-items: center;
 }
.submenu{
    background: #590700;
}
.submenu nav a{
    padding: 26px 20px;
    display: inline-block;
}
.imgRedonda{
    width: 100px;
    height: 100px;
    border: 5px solid #f2f2f2;
    border-radius: 55px;
    margin-top:10px; 
}
nav a span{
    margin-right: 10px;
    flex-direction: row column-reverse;
}
.vid{
    margin-top: 20px;  
}